# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Miscellaneous
*.DS_Store
*.egg
*.egg-info/
*.pyo
*.pyd